@import 'swiper/css';
@import 'swiper/css/zoom';

* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General Styles */

/* Genel Yazı Tipi */
body {
    font-family: 'DM Sans', sans-serif;
    /* Google Fonts'tan DM Sans kullanılıyor */
    line-height: 1.6;
    /* Daha iyi okunabilirlik için satır aralığı */
    color: #333;
    /* Varsayılan metin rengi */
    background-color: #f9f9f9 !important;
    /* Sayfa arka plan rengi */
}

/* Paragraflar */
p {
    font-size: 1rem;
    /* Varsayılan paragraf boyutu */
    line-height: 1.8;
    /* Satır aralığı */
    margin-bottom: 1rem;
    /* Paragraflar arasında boşluk */
    color: #555;
    /* Daha hafif bir gri renk */
}

/* Başlıklar */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DM Sans', sans-serif;
    /* Başlık yazı tipi */
    color: #222;
    /* Başlıkların varsayılan rengi */
    margin-bottom: 1rem;
    /* Başlıklardan sonra boşluk */
    font-weight: bold;
    /* Başlıkların kalın görünmesi */
}

/* Farklı Başlık Seviyeleri */
h1 {
    font-size: 2.5rem;
    color: #007bff;
    /* Ana başlıklar için mavi renk */
    text-transform: uppercase;
    /* Büyük harf */
    text-align: center;
    /* Ortala */
}

h2 {
    font-size: 2rem;
    color: #2a5298;
    /* Daha koyu mavi ton */
    text-align: center;
    text-decoration: underline;
    /* Altı çizili */
}

h3 {
    font-size: 1.75rem;
    color: #555;
    padding-bottom: 0.5rem;
}

h4 {
    font-size: 1.5rem;
    color: #777;
    /* Daha açık gri ton */
}

h5,
h6 {
    font-size: 1.25rem;
    color: #999;
    /* Açık gri renk */
}

/* Linkler */
a {
    color: #007bff;
    /* Varsayılan link rengi */
    text-decoration: none;
    /* Alt çizgiyi kaldır */
}

a:hover {
    text-decoration: underline;
    /* Üzerine gelince altı çizili */
    color: #0056b3;
    /* Daha koyu mavi */
}



html {
    scroll-behavior: smooth;
}

/* Banner */

/* Banner kapsayıcı ----------------------------------------------- */
.banner {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 600px;
}

.banner img.banner-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 767px) {
    .banner img.banner-image {
        object-fit: contain;
    }
}


/* Navbar Header */

#language-selector .nav-link {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

#language-selector .nav-link:hover {
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

#language-selector {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar {
    position: fixed;
    z-index: 10000;
    width: 100%;
}


/* Information Section ------------------------------------------------- */

/* Information Bölgesi */
#information {
    background-color: #f9f9f9;
    padding: 10px 10px;
}

#information p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #000000;
    margin-bottom: 1.5rem;
    text-align: justify;
}

#information a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #007bff;
    transition: all 0.3s ease;
}

#information a:hover {
    color: #0056b3;
    border-bottom: 2px solid #0056b3;
}


/* Portfolio Section -------------------------------------------------  */

#portfolio {
    background: radial-gradient(circle, #1e3c72, #2a5298);
    color: #ffffff;
    position: relative;
    overflow: hidden;
    padding: 50px 0;
}

#portfolio h2,
h3,
p,
span {
    color: white;
}

#portfolio .text-center span {
    color: #ffffff;
    font-size: 1.1rem;
}

#portfolio a.btn-link {
    color: #ffffff;
    font-weight: bold;
    background: linear-gradient(90deg, #ff8c00, #ffcc00);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

#portfolio a.btn-link:hover {
    background: linear-gradient(90deg, #ffcc00, #ff8c00);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}


#portfolio::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1), transparent);
    animation: rotateBackground 20s linear infinite;
    z-index: 0;
}

@keyframes rotateBackground {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#portfolio .container {
    position: relative;
    z-index: 1;
    /* İçeriği animasyonun üzerinde göstermek için */
}

#portfolio .info-paragraph {
    padding: 10px;
}

@media (max-width: 992px) {
    #portfolio .info-paragraph {
        padding: 10px 0px;
    }
}



/* Swiper JS Css -----------------------------------------------  */

.swiper {
    width: 100%;
    overflow: hidden;
}

.swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.widgetnexuslink a span:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    .swiper {
        height: auto;
    }

    .col-md-6,
    .col-md-12 {
        margin-top: 20px;
    }

    .swiper img {
        height: auto;
    }
}



/* Contact Information Section -----------------------------------------------  */

.info-block {
    background-color: #ffffff;
    border-left: 5px solid #007bff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-block:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.info-block h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
}

.info-block ul li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.info-block ul li i {
    color: #6c757d;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Thank-You Section -----------------------------------------------  */

#thank-you {
    background: linear-gradient(135deg, #1a1a1a, #333333);
    color: #ffffff;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

#thank-you::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1), transparent);
    animation: rotateGradient 10s linear infinite;
}

@keyframes rotateGradient {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.thank-you-message {
    font-family: 'Cinzel', serif;
    font-size: 2.5rem;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.3);
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.lead {
    font-size: 1.25rem;
    font-style: italic;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.8);
}